.message {
  display: flex;
  margin-bottom: 15px;
  word-wrap: break-word;
  hyphens: auto;
  word-break: break-word;
}
.message-bubble {
  padding: 10px 15px;
  border-radius: 18px;
  max-width: 70%;
}
.settings-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings-modal {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
  border-radius: 8px;
}
.close-button {
  color: hsl(0, 0%, 67%);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.close-button:hover,
.close-button:focus {
  color: hsl(0, 0%, 40%);
  text-decoration: none;
  cursor: pointer;
}
.settings-modal input {
  border-radius: 20px;
  height: 30px;
  border: 1px solid #aaa;
  padding-left: 10px;
  margin-bottom: 10px;
}

.settings-modal textarea {
  border-radius: 5px;
  border: 1px solid #aaa;
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
  max-width: 100%;
}

.settings-modal label {
  margin-bottom: 5px;
}

#modal-footer button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: hsl(0, 0%, 67%);
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgba(255, 255, 255, 0.87);
  margin-right: 10px;
}

#modal-footer button:hover {
  background-color: hsl(0, 0%, 40%);
}

#modal-footer button#save-button {
  background-color: hsl(219, 82%, 51%);
}

#modal-footer button#save-button:hover {
  background-color: hsl(219, 82%, 45%);
}
